@charset "UTF-8";
/*@media for computer screen*/


#my-info {
	float: left;
	position: relative;
	margin: 5% 0% 0% 0%;
	max-width: 40%;
	min-width: 40%;
	}

	#name {
		margin: 3% 1% 5% 6%;
		}

	#tagline {
		margin: 5% 4% 5% 5%;
		}

	#more-info {
		display: none;
		transition:all .1s ease-in-out;  
	    -o-transition:all .1s ease-in-out;  
	    -moz-transition:all .1s ease-in-out;  
	    -webkit-transition:all .1s ease-in-out;
		}

	hr {
		max-width:100%;
		}

	#more-info-rt {
		float: right;
		display: inline-block;
		text-align: right;
		margin-top: 7%;
		margin-right: 5%;
		max-width: 40%;
		min-width: 40%;
		}

	#more-info-rt a:hover {
			color: #E5FCC2;
			}

		#more-info-rt li {
			display: inline-block;
			width: 50%;
			margin-top: 12px;
			}

#my-work, #contact-form {
	width: 96%;
	margin: 4% auto;
	}


/*CSS for portfolio pages*/


	#my-work h2 {
		max-width: 100%;
		min-width: 100%
		float: left;
		font-size: 1.75em;
		font-family: "Quicksand", sans-serif;
		color: #45ADA8;
		}

	#my-work > p{
		float:left;
		max-width: 90%;
		min-width: 90%
		font-family: 'Cutive Mono', serif;
		margin: 2% auto;
		}