@charset "UTF-8";
/*@media for computer screen*/


#my-info {
	float: left;
	position: relative;
	margin: 5% 0% 0% 0%;
	width: 45%;
	max-width: 50%;
	min-width: 25%;
}

	#name {
		margin: 3% 1% 5% 6%;
	}

	#tagline {
		margin: 5% 4% 5% 5%;
	}

	#more-info {
		display: none;
		transition:all .1s ease-in-out;  
	    -o-transition:all .1s ease-in-out;  
	    -moz-transition:all .1s ease-in-out;  
	    -webkit-transition:all .1s ease-in-out;
	}

	#more-info-rt {
		float: right;
		display: inline-block;
		text-align: right;
		width: 30%;
		margin: 5%;
	}

		#more-info-rt li {
			display: inline-block;
			width: 50%;
			margin-top: 12px;

			}
	


#my-work, #contact-form {
	position: relative;
	width: 96%;
	margin: 4% auto;
	}