html {
background-color: #d5e8e8;
}

body {
position: relative;
font-family: Arial, sans-serif;
font-size: 100%;
margin: 0px;
padding: 0px;
}

h1 {
font-size: 22px;
color: #000;
}

h2 {
font-size: 18px;
color: #777;
padding-top: 0px;

}

h3 { 
font-size: 12px;
}

p {
font-family: serif;
font-size: 22px;
padding-bottom: 0px;
}

ul.para {
font-family: serif;
font-size: 22px;
line-spacing: 40px;
}

header {
position: absolute;
	right: 55px;
width: 565px;
}


header li {
float:left;
display: inline;
padding-right: 20px;
list-style-type: none;
font-size: 14px;
}

.acct-signin {
position: relative;
float:right;
}

.acct-head {
padding-bottom: 6px;
}


.textinput {
background: #FFF;
border:1px solid #888;
margin: 4px 0px 0px 0px;
padding:4px;
width:125px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.logo {
position: absolute;
	left: 210px;
	top: 25px;
width: 268px;
height: 67px;
}

#top-nav {
position: absolute;
	left: 56px;
	top: 100px;
background-color: #333;
background-color: rgba(0,0,1,.6);
text-align: center;
width: 555px;
height: 40px;
margin: 0px;
box-shadow: 1px 1px 2px #888;
}

#top-nav li {
position: relative;
	right: 25px;
	top: 11px;
display: inline;
margin-left: 1px;
margin-right: 1px;
list-style-type: none;
padding-top: 5px;
padding-right: 40px;
padding-bottom: 5px;
padding-left: 40px;
}

#top-nav li a {
color: #defdfe;
text-decoration: none;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;

}

#top-nav li a:hover {
color:#FFF;
}

#top-nav li:visited {
color: #FFF;
text-decoration: none;
}

#bottom-nav li a:hover {
color: #000000;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
}

a.chat-icon:link {
color:#000000;
text-decoration: none;
}

a.chat-icon:hover {
background-color:#FFF;
background-color: rgba(255,255,255,.6);
text-decoration: none;
}


a.chat-icon {
position: absolute;
	top: 140px;
	right: 55px;
color:#FFF;
text-decoration: none;
background-color: #a2d4d5;
background-color: rgba(162,212,213,.7);
width: 270px;
height: 25px;
padding-top: 5px;
text-align: center;
font-size: 15px;
font-weight: 700;
font-variant:small-caps;
box-shadow: 1px 1px 2px #71d7da;
letter-spacing:.1em
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;

}

.relax-image {
position: absolute;
	top: 200px;
}

.pull-quote {
position: absolute;
top: 555px;
left: 100px;
width: 150px;
text-align: right;
color: #229093;
font-size: 30px;
line-height: 40px;
quotes:"\201C""\201D""\2018""\2019";
}

.main-content {
position: absolute;
top: 490px;
left: 352px;
margin-right: 30px;
padding-right: 100px;
padding-bottom: 50px;
width: 70%;
}

footer {
clear: both;
position: fixed;
	bottom: 15px;
background-color: rgba(0,0,100,.1);
text-align: center;
width: 100%; 
}

#bottom-nav li{
display: inline;
list-style-type: none;
}

#bottom-nav li a {
padding-right: 20px;
text-decoration: none;
font-size: 90%;
}

#bottom-nav li a {
color:white;
}




